{% extends "base.html" %}

{% block content %}


<h1>Admin Price page</h1>
<br>
<a href="{{ url_for('admin.admin_index') }}" class="btn">Back</a>

<div class="row" blank_row></div>

<div class="row">
    <div class="col-12">
        <label for="form-file" class="form-label" id="cust_update_lable">Upload File for update</label><br>
        <form method=post enctype=multipart/form-data action="{{ url_for('price.update_prices_master_data') }}">
            <input type=file name=file>
            <input class="btn" type=submit value=Submit>
        </form>
    </div>
</div>

<div class="row" blank_row></div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Valid From</th>
            <th scope="col">Valid To</th>
            <th scope="col">Hierarchy</th>
            <th scope="col">SoldTo</th>
            <th scope="col">SoldTo Name</th>
            <th scope="col">ShipTo</th>
            <th scope="col">Material</th>
            <th scope="col">Material Name</th>
            <th scope="col">Price</th>
            <th scope="col">Curr</th>
            <th scope="col">Unit</th>
            <th scope="col">UoM</th>
        </tr>
      </thead>
      <tbody>
        {% for order in order_data %}
        <tr>
            <td></td>

        </tr>
        {% endfor %}
</table>

{% endblock %}