{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row" blank_row>
        <div class="col-12">
            Контент админки
        </div>
    </div>

    <div class="row" btn_row>
        <div class="col-12">
            <div class="btn-group" role="group" aria-label="custom_btn_group">
                <button type="button" class="btn btn-outline-secondary" id="btn_users">Пользователи</button>
                <button type="button" class="btn btn-outline-secondary" id="btn_customers">Клиенты</button>
                <button type="button" class="btn btn-outline-secondary" id="btn_managers">Менеджеры</button>
                <button type="button" class="btn btn-outline-secondary" id="btn_products">Продукты</button>
            </div>
        </div>
    </div>

    <div class="row" blank_row></div>

    <div class="row">
        <div class="col-12">
            <label for="form-file" class="form-label">Обновление Клиентов</label>
            <div class="form-file">
                <input type="file" class="form-file-input" id="customFile" 
                buttonAfter={uploadFileButton} ref={(ref) => this.fileUpload = ref}>
            </div>
        </div>
    </div>

    <div class="row" blank_row></div>

    <div class="row">
        <div class="col-12">
            <label for="form-file" class="form-label">Обновление Менеджеров</label>
            <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input class="btn" type=submit value=Отправить>
            </form>
        </div>
    </div>

    <div class="row" blank_row></div>

    <div class="row">
        <div class="col-12">
            <label for="form-file" class="form-label">Обновление Продуктов</label>
            <div class="form-file">
                <input type="file" class="form-file-input" id="customFile">
              </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}