{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row" blank_row>
        <div class="col-12">
            <h1>Admin Panel</h1>
        </div>
    </div>

    <div class="row" btn_row>
        <div class="col-12">

                <a href="{{ url_for('admin.users_page') }}" class="btn btn-outline-secondary">Users</a>
                <a href="{{ url_for('admin.fx_page') }}" class="btn btn-outline-secondary">Exchange Rate</a>
                <a href="{{ url_for('сustomer.customers_page') }}" class="btn btn-outline-secondary">Customers</a>
                <a href="{{ url_for('сustomer.deladdress_page') }}" class="btn btn-outline-secondary">Delivery Addresses</a>
                <a href="{{ url_for('сustomer.managers_page') }}" class="btn btn-outline-secondary">Managers</a>
                <a href="{{ url_for('products.products_page') }}" class="btn btn-outline-secondary">Products</a>

        </div>
    </div>

    <div class="row" blank_row></div>

    <div class="row" btn_row>
        <div class="col-12">

                <a href="{{ url_for('prices.prices_page') }}" class="btn btn-outline-secondary">Prices</a>
                <a href="{{ url_for('orders.orders_page') }}" class="btn btn-outline-secondary">Orders</a>

        </div>
    </div>


</div>



{% endblock %}