{% extends "base.html" %}

{% block content %}


<h1>Admin Products page</h1>
<br>
<a href="{{ url_for('admin.admin_index') }}" class="btn">Back</a>
<br>

<br>

<br>
<a href="{{ url_for('products.materials_page') }}" class="btn">Materials</a>

<a href="{{ url_for('products.sal_prod_page') }}" class="btn">Saleable Prod</a>

<a href="{{ url_for('products.family_page') }}" class="btn">Family Prod</a>

<a href="{{ url_for('products.subclass_page') }}" class="btn">SubClass</a>

<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-12">
        <label for="form-file" class="form-label" id="cust_update_lable">Upload File for update</label><br>
        <form method=post enctype=multipart/form-data action="{{ url_for('products.update_products') }}">
            <input type=file name=file>
            <input class="btn" type=submit value=Submit>
        </form>
    </div>
</div>

{% endblock %}