{% extends "base.html" %}

{% block content %}


<h1>Product Family page</h1>
<br>
<a href="{{ url_for('products.products_page') }}" class="btn">Back</a>
<br>

<br>

<div class="row">
    <div class="col-8"></div>
    <div class="col-4">
        <form method="POST" action=""  class="d-flex">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search" name="search_family">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<br>

<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Family Name</th>
          <th scope="col">Sub Class Name</th>
        </tr>
      </thead>
      <tbody>
        
        {% for family in family_data %}
        <tr>
          <td>{{ family.Family_Code }}</td>
          <td>{{ family.Family_Name }}</td>
          <td>{{ family.Sub_Class.Sub_Class }} ({{ family.Sub_Class.Sub_Class_Name }})</td>

        </tr>
        {% endfor %}
</table>

{% endblock %}