{% extends "base.html" %}

{% block content %}


<h1>Admin Products page</h1>
<br>
<a href="{{ url_for('admin.admin_index') }}" class="btn">Back</a>
<br>

<br>

<br>
<a href="{{ url_for('admin.materials_page') }}" class="btn">Materials</a>
<br>

<br>
<a href="{{ url_for('admin.sal_prod_page') }}" class="btn">Saleable Prod</a>
<br>

<br>
<a href="{{ url_for('admin.family_page') }}" class="btn">Family Prod</a>
<br>

<br>
<a href="{{ url_for('admin.subclass_page') }}" class="btn">SubClass</a>
<br>

{% endblock %}