{% extends "base.html" %}

{% block content %}


<h1>Admin Customer page</h1>
<br>
<a href="{{ url_for('admin.admin_index') }}" class="btn">Back</a>

<div class="row" blank_row></div>

<div class="row">
    <div class="col-12">
        <label for="form-file" class="form-label" id="cust_update_lable">Upload File for update</label><br>
        <form method=post enctype=multipart/form-data action="{{ url_for('сustomer.update_customers') }}">
            <input type=file name=file>
            <input class="btn" type=submit value=Submit>
        </form>
    </div>
</div>

<div class="row" blank_row></div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Sold-To</th>
            <th scope="col">Sold-To Name</th>
            <th scope="col">AM Name</th>
            <th scope="col">STL Name</th>
            <th scope="col">Tax code 1 (INN)</th>
            <th scope="col">Tax code 2 (KPP)</th>
            <th scope="col">Pay Term</th>
            <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        {% for cust in cust_data %}
        <tr>
            <td>{{ cust.SoldTo }}</td>
            <td>{{ cust.SoldTo_Name }}</td>
            <td>{{ cust.AM_Table.AM_name}}</td>
            <td>{{ cust.AM_Table.STL_Table.STL }}</td>
            <td>{{ cust.INN }}</td>
            <td>{{ cust.KPP }}</td>
            <td>{{ cust.PayTerm_Table.PT_description }}</td>
            <td>{{ cust.Addr_Table }}</td>
        </tr>
        {% endfor %}
</table>



{% endblock %}